ManifestGenerator/
MobileDeliveryCaching/
MobileDeliveryClient/
MobileDeliveryLogger/
MobileDeliveryMVVM/
MobileDeliveryServer/
MobileDeliverySettings
MobileDeliveryUniversal/
UMDGeneral
WinsysSQLDriver
