ManifestGenerator/
MobileDeliveryCaching/
MobileDeliveryClient/
MobileDeliveryLogger/
MobileDeliveryMVVM/
MobileDeliveryServer/
MobileDeliverySettings
MobileDeliveryUniversal/
MobileDeliveryManagerCore/
UMDGeneral
WinsysSQLDriver
.vs
.vs/*
packages
