<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\apps\logs" />
    <add key="LogLevel" value="Info" />
    <add key="Url" value="localhost" />
    <add key="Port" value="81" />
    <add key="ClientUrl" value="localhost" />
    <add key="ClientPort" value="8181" />
    <add key="SrvUrl" value="localhost" />
    <add key="SrvPort" value="81" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="KeepAliveInterval" value="600000" />
    <add key="RetryInterval" value="60000" />
    <add key="ReconTimeOut" value="30000" />
    <add key="ErrReconTimeOut" value="60000" />

  </appSettings>
  
  
</configuration>